<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!--任务-->
    <bean id="job1"  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.ujiuye.demo1.jobs.Jobs" />
        </property>
        <property name="targetMethod" value="job1" />
        <property name="concurrent" value="false" /><!-- 作业不并发调度 -->
    </bean>

    <bean id="job2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="com.ujiuye.demo1.jobs.Jobs" />
        </property>
        <property name="targetMethod" value="job2" />
        <property name="concurrent" value="false" /><!-- 作业不并发调度 -->
    </bean>

    <!--触发器-->
    <bean id="cronTrigger1" class=
            "org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="job1" />
        <property name="cronExpression" value="0/10 * * * * ?" />
        <!--每隔10秒运行一次 -->
    </bean>

    <bean id="simpleTrigger1" class=
            "org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="job2" />
        <!-- 调度工厂实例化后，经过0秒开始执行调度 -->
        <property name="startDelay" value="0" />
        <property name="repeatInterval" value="5000" /><!-- 重复的间隔 -->
        <property name="repeatCount" value="10" /><!--重复次数 -->
    </bean>

    <!--配置调度工厂 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger1" />
                <ref bean="simpleTrigger1" />
            </list>
        </property>
    </bean>

</beans>